<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <h6>In the first form, enter a list of integers seperated by a newline character.</h6>
  <h6>In the second form, enter another integer.</h6>
  <h6>The first operation will be true if square of the integer found in the first list.</h6>
  <h6>In the third form, enter a list of integers seperated by a newline character.</h6>
  <h6>In the fourth form, enter another integer.</h6>
  <h6>The second operation will be true if the sum of the integers in the second list multiplied by the first integer equals to the second integer.</h6>
  <h6>The result becomes true if both operations is true.</h6>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
	<textarea name="input3" rows="10" cols="30"></textarea>
	<textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
